.panels-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.stream-panel {
  border: 1px solid black;
  margin: 30px;
  padding: 10px;
  padding-top: 0;
}
.image-container {
  width: 320px; 
  height: 240px;
}
.stream-image {
  width: 100%;
  height: 100%;
}
.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;;
}
.camera-switch-button {
  height: 70px;
  width: 140px;
  font-size: 1.3rem;
  cursor: pointer;
}

/* responsive */
@media screen and (max-width: 1200px) {
  .image-container {
    width: auto;
    height: 240px;
  }
  .horizontal-flex {
    flex-direction: column;
    gap: 20px;
  }
  .button-container {
    gap: 10px;
    flex-direction: row;
  }
  .camera-switch-button {
    height: 60px;
    width: 120px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .panels-container {
    grid-template-columns: 1fr;
  }
}