.stream-panel {
  border: 1px solid black;
  margin: 30px;
  padding: 10px;
  padding-top: 0;
}
.stream-image {
  width: 640px; 
  height: 480px;
}
.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;;
}
.camera-switch-button {
  height: 100px;
  width: 200px;
  font-size: 1.3rem;
  cursor: pointer;
}

/* responsive */
@media (max-width: 900px) {
  .stream-image {
    width: 100%;
    height: auto;
  }
  .horizontal-flex {
    flex-direction: column;
  }
  .button-container {
    gap: 10px;
    flex-direction: row;
  }
  .camera-switch-button {
    height: 60px;
    width: 120px;
    font-size: 1rem;
  }
}